
    <div class="container">

      <div class="starter-template">
        
        <p class="lead">



<%= simple_form_for @steps_model, html: {class: "form-horizontal"}, url: wizard_path do |f| %>
  <% if @steps_model.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@steps_model.errors.count, "error") %> prohibited this valuation model from being saved:</h2>
      <ul>
      <% @steps_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :id, as: :hidden %>

    <%= yield f %>

  <hr>
  <div class="form-group">
    <div class="actions">
      <div class="col-sm-offset-1">
        <% unless true || step == wizard_steps.first %>
          <li class="previous"><%= link_to ("Previous"), previous_wizard_path((@steps_model.class.name.to_s + "_id").to_sym => @steps_model.id) %></li>
        <% end %>
        <%= f.button :submit, commit: "Save", :value => "Save", :class => 'btn btn-primary' %>
        <%= f.button :submit, :value => (step == wizard_steps.last ? "Save and Finish" : "Save and Next"), :class => 'btn btn-primary' %>
        <% unless true || step == wizard_steps.last %>
          <li class="next"><%=  link_to ("Next"), next_wizard_path((@steps_model.class.name.to_s + "_id").to_sym => @steps_model.id) %></li>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<hr>


          
        </p>
      </div>

    </div>