<!DOCTYPE html>
<html>
<head>
  <title>TakeMyPhotoDown</title>
  <%= stylesheet_link_tag :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css" %>
  <%= javascript_include_tag :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js" %>
  <%#= javascript_include_tag :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "TakeMyPhotoDown", root_url, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_url, class: "active" %></li>
            <!-- <li><%#= link_to "My Takedowns", takedowns_path %> -->
            <li><%= link_to "About", info_about_path %>
            <li><%= link_to "Contact", info_contact_path %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-sm-offset-4">
    <div class="">
      <%= link_to (image_tag "TakeMyPhotoDown5_cropped.png", class: "media-object", size: "300x200"), class: "pull-left" %>
    </div>
  </div>
</div>
<!-- 
    <div class="">
      <div class="container">
        <div class="media">
          <div class="col-sm-4">
            <%= link_to (image_tag "TakeMyPhotoDown5.png", class: "media-object"), class: "pull-left" %>
          </div>
          <div class="media-body">
            <h2 class="media-heading">Take My Photo Down!</h2>
            <p>The easiest way to send a takedown notice under the Digital Millenium Copyright Act (DMCA).</p>
          </div>
        </div>
      </div>
    </div> -->
    <hr>
    <br />
    <% if defined? wizard_path %>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <%= render partial: "takedown_steps/wizard_steps_nav", locals: {steps_model: @steps_model, steps: wizard_steps, step: step} %>
        </div>
      </div>
    <% end %>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
<% flash.each do |name, msg| %>
    <% if name == :notice || name == :error || name == :alert || name == :message || :notice_unfading%>
        <%
            alert_type = "alert-info" if(name == :notice)
            alert_type = "alert-info" if(name == :message)
            alert_type = "alert alert-info" if(name == :notice_unfading)
            alert_type = "alert alert-danger" if(name == :error || name == :alert)

            alert_type = "alert alert-info" if(alert_type.nil?)

        %>
        <div class = "row">
          <div class="<%= alert_type %>" >
            <a class="close" data-dismiss="alert">x</a>
            <%= msg %>
          </div>
        </div>
    <% end %>
<% end %>
        </div>
      </div>

    <%= yield %>

    <% if defined? wizard_path %>
      <div class="row">
        <div class="col-sm-12">
          <%= render partial: "takedown_steps/wizard_pager", locals: {steps_model: @steps_model, steps: wizard_steps, step: step} %>
          <br />
        </div>
      </div>
    <% end %>

    <hr>
    <div class="row">
      <div class="col-sm-offset-1">
        <p>Copyright <%= Date.today.year.to_s %>, TakeMyPhotoDown Hack Team.</p>
        <p>All trademarks and registered trademarks appearing on this site are the property of their respective owners.</p>
      </div>
    </div>
    <br />
    <br />



</body>

</html>